<div id="service-form" ng-init="init()">
  <div class="modal-header">
    <h3 class="modal-title">{{ title }} Auditoria</h3>
  </div>

  <form role="form" name="newAuditForm" ng-submit="saveForm()">
    <div class="modal-body clearfix">
      <div class="form-group">
        <div class="row">
          <div class="col-md-12">
            <label for="in_charge_name">Amerita</label>
            <input type="checkbox" class="js-switch" checked="{{ false }}" />
          </div>
        </div>
        <div class="col-md-12">
          <label for="in_charge_relationship">Parentesco</label>
          <input type="text" class="form-control" placeholder="Parentesco..." ng-model="service.in_charge_relationship" ng-disabled="sending" ng-readonly="show">
        </div>
        <div class="col-md-12">
          <label for="in_charge_phone">Telefono</label>
          <input type="text" class="form-control" placeholder="Telefono..." ng-model="service.in_charge_phone" ng-disabled="sending" ng-readonly="show">
        </div>
        <div class="col-md-12">
          <label for="first_diagnosis">Diagnostico 1</label>
          <input type="textarea" class="form-control" placeholder="Diagnostico 1..." ng-model="service.first_diagnosis" ng-disabled="sending" ng-readonly="show">
        </div>
        <div class="col-md-12">
          <label for="primary_doctor">Medico de Cabecera</label>
          <input type="text" class="form-control" placeholder="Medico de Cabecera..." ng-model="service.primary_doctor" ng-disabled="sending" ng-readonly="show">
        </div>
        <div class="col-md-12">
          <label for="primary_doctor_number">Matricula</label>
          <input type="text" class="form-control" placeholder="Matricula..." ng-model="service.primary_doctor_number" ng-disabled="sending" ng-readonly="show">
        </div>
        <div class="col-md-12">
          <label for="primary_doctor_business">Empresa o Servicio</label>
          <input type="text" class="form-control" placeholder="Empresa o Servicio..." ng-model="service.primary_doctor_business" ng-disabled="sending" ng-readonly="show">
        </div>
        <div class="col-md-12">
          <input type="date" class="form-control has-feedback-left" ng-model="service.started_at" ng-disabled="sending" ng-readonly="show" id="started_at">
          <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-link" ng-click="cancel()">Cancelar</button>
        <button type="submit" class="btn btn-success" ng-hide="show" ng-disabled="newAuditForm.$invalid || sending">{{ action == 'create' ? 'Crear' : 'Actualizar' }}</button>
      </div>
    </div>
  </form>
</div>
