<div class="page-title">
  <div class="title_left">
    <h3>
      {{ service.service_type }}
    </h3>
  </div>
  <div class="title_right">
    <div class="pull-right">
      <a href="javascript:window.history.back()" class="btn btn-primary"><i class="fa fa-chevron-circle-left"></i> Atr&aacute;s </a>
    </div>
  </div>
</div>
<div class="title_left">
  <h3>
    <small>{{service.patient.name}} -  DNI: {{service.patient.dni}}</small>
  </h3>
</div>
<div id="service-show" ng-init="init()">
  <div class="x_panel">
    <div class="x_content">
      <div class="row">
        <div class="form-group">
          <div class="col-xs-12">
            <label class="control-label col-md-2 col-sm-2 col-xs-6">Lugar</label>
            <div class="col-md-10 col-sm-10 col-xs-6">
              {{ service.place }}
            </div>
          </div>
          <div class="col-xs-12">
            <label class="control-label col-md-2 col-sm-2 col-xs-6">Diagnostico</label>
            <div class="col-md-10 col-sm-10 col-xs-6">
              {{ service.diagnosis }}
            </div>
          </div>
          <div class="col-xs-12">
            <label class="control-label col-md-2 col-sm-2 col-xs-6">D&iacute;as Acumulados</label>
            <div class="col-md-10 col-sm-10 col-xs-6">
              {{ service.sum_days }}
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="pull-right" ng-if="service.can_add_audits">
          <a ng-if="$root.currentUser.user_type === 'User'" class="btn btn-warning" ng-click="requireAudit(service.id, service.patient.name)">Renovar</a>
        </div>
      </div>
      <div class="clearfix"></div>

      <!-- start audits list -->
      <table class="table table-striped projects">
        <thead>
          <tr>
            <th>Dictamen</th>
            <th>Desde</th>
            <th>Hasta</th>
            <th>D&iacute;as</th>
            <th>Prestador</th>
            <th>Tipo de Serv.</th>
            <th>Auditor</th>
            <th style="width: 15%"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="audit in service.audits" ng-click="loadFiles(audit)" ng-class="{selected: audit.id === selectedAuditId}">
            <td>
              <button type="button" class="btn btn-{{ statusColor(audit.status) }} btn-xs">
                {{ statusText(audit.status) }}
              </button>
            </td>
            <td>
              {{ audit.started_on | date:'dd/MM/yyyy' }}
            </td>
            <td>
              {{ audit.finished_on | date:'dd/MM/yyyy' }}
            </td>
            <td>
              {{ audit.days }}
            </td>
            <td>
              {{ audit.provider_name }}
            </td>
            <td>
              {{ audit.service_type_option_description }}
            </td>
            <td>
              {{ audit.auditor_name }}
            </td>
            <td>
              <div class="btn-group btn-group-justified">
                <a ng-show="false" ng-click="auditModal(audit, true)" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> Informe </a>
                <a ng-show="false" ng-click="loadFiles(audit)" class="btn btn-primary btn-xs"><i class="fa fa-file"></i> Archivos </a>
                <a ng-click="auditModal(audit, false)" class="btn btn-info btn-xs" ng-if="$root.currentUser.user_type === 'Auditor'"><i class="fa fa-pencil"></i> Editar </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- end audits list -->
    </div>
  </div>
</div>
<div class="container file-box" ng-show="selectedAuditId">
  <h3>Informe:</h3>
  <div class="row">
    <div class="col-md-9">
      <p>{{selectedAudit.report || 'Informe no disponible.' }}</p>
    </div>
  </div>
  <div class="row" ng-show="files.length > 0">
    <div class="col-md-3">
      <h2>Autorizacion Inicial</h2>
      <div ng-repeat="f in files1" class="file-container">
        <a ng-href="{{f.path}}" target="_blank" class="file-link">
          <i class="fa fa-file-pdf-o">{{' '}}{{f.name}}</i>
        </a>
        <a ng-click="deleteFile(f.id, f.name, selectedAuditId)" class="file-link">
          <i class="fa fa-remove"></i>
        </a>
      </div>
    </div>
    <div class="col-md-3">
      <h2>Control</h2>
      <div ng-repeat="f in files2" class="file-container">
        <a ng-href="{{f.path}}" target="_blank" class="file-link">
          <i class="fa fa-file-pdf-o">{{' '}}{{f.name}}</i>
        </a>
        <a ng-click="deleteFile(f.id, f.name, selectedAuditId)" class="file-link">
            <i class="fa fa-remove"></i>
        </a>
      </div>
    </div>
    <div class="col-md-3">
      <h2>Encuesta satisfaccion</h2>
      <div ng-repeat="f in files3" class="file-container">
        <a ng-href="{{f.path}}" target="_blank" class="file-link">
          <i class="fa fa-file-pdf-o">{{' '}}{{f.name}}</i>
        </a>
        <a ng-click="deleteFile(f.id, f.name, selectedAuditId)" class="file-link">
          <i class="fa fa-remove"></i>
        </a>
      </div>
    </div>
    <div class="col-md-3">
      <h2>Imagenes</h2>
      <div ng-repeat="f in files4" class="file-container">
        <a ng-href="{{f.path}}" target="_blank" class="file-link">
          <i class="fa fa-file-image-o">{{' '}}{{f.name}}</i>
        </a>
        <a ng-click="deleteFile(f.id, f.name, selectedAuditId)" class="file-link">
          <i class="fa fa-remove"></i>
        </a>
      </div>
    </div>
  </div>
</div>
</br></br>

