<div id="audit-files" ng-init="init()">
  <div class="modal-header">
    <h3 class="modal-title">Periodo</h3>
  </div>
  <div class="modal-body clearfix">
    <div class="container file-box">
      <h3>Informe:</h3>
      <div class="row">
        <div class="col-md-9">
          <p>{{selectedAudit.report || 'Informe no disponible.' }}</p>
        </div>
      </div>
      <div class="row" ng-show="files.length > 0">
        <div class="col-md-3">
          <h2>Autorizacion Inicial</h2>
          <div ng-repeat="f in files1" class="file-container">
            <a ng-href="{{f.path}}" target="_blank" class="file-link">
              <i class="fa fa-file-pdf-o">{{' '}}{{f.name}}</i>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <h2>Control</h2>
          <div ng-repeat="f in files2" class="file-container">
            <a ng-href="{{f.path}}" target="_blank" class="file-link">
              <i class="fa fa-file-pdf-o">{{' '}}{{f.name}}</i>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <h2>Encuesta satisfaccion</h2>
          <div ng-repeat="f in files3" class="file-container">
            <a ng-href="{{f.path}}" target="_blank" class="file-link">
              <i class="fa fa-file-pdf-o">{{' '}}{{f.name}}</i>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <h2>Imagenes</h2>
          <div ng-repeat="f in files4" class="file-container">
            <a ng-href="{{f.path}}" target="_blank" class="file-link">
              <i class="fa fa-file-image-o">{{' '}}{{f.name}}</i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </br></br>
   <div class="modal-footer">
    <button type="button" class="btn btn-link" ng-click="cancel()">Cancelar</button>
  </div>
</div>
