<div id="audit-files" ng-init="init()">
  <div class="modal-header">
    <h3 class="modal-title">Periodo</h3>
  </div>
  <div class="modal-body clearfix">

    <div class="x_panel">
      <div class="x_content">
        <div class="row">
          <div class="form-group">
            <div class="col-xs-12">
              <label class="control-label col-md-2 col-sm-2 col-xs-6">Tipo de Prestaci&oacute;n</label>
              <div class="col-md-10 col-sm-10 col-xs-6">
                {{ service.service_type }}
              </div>
            </div>
            <div class="col-xs-12">
              <label class="control-label col-md-2 col-sm-2 col-xs-6">Lugar</label>
              <div class="col-md-10 col-sm-10 col-xs-6">
                {{ service.place }}
              </div>
            </div>
            <div ng-if="service.city" class="col-xs-12">
              <label class="control-label col-md-2 col-sm-2 col-xs-6">Ciudad</label>
              <div class="col-md-10 col-sm-10 col-xs-6">
                {{ service.city }}
            </div>
            </div>
            <div class="col-xs-12">
              <label class="control-label col-md-2 col-sm-2 col-xs-6">Diagnostico</label>
              <div class="col-md-10 col-sm-10 col-xs-6">
                {{ service.diagnosis }}
              </div>
            </div>
            <div class="col-xs-12">
              <label class="control-label col-md-2 col-sm-2 col-xs-6">Comentario</label>
              <div class="col-md-10 col-sm-10 col-xs-6">
                {{ service.comment }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="container file-box">
      <h3>Informe:</h3>
      <div class="row">
        <div class="col-md-9">
          <p>{{selectedAudit.report || 'Informe no disponible.' }}</p>
        </div>
      </div>
      <div class="row" ng-show="files.length > 0">
        <div class="col-lg-3 col-xs-12">
          <h2>Autorizacion Inicial</h2>
          <div ng-repeat="f in files1" class="file-container">
            <a ng-href="{{f.path}}" target="_blank" class="file-link" title="{{f.name}}">
              <i class="fa fa-file-pdf-o">{{' '}}{{f.name}}</i>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-xs-12">
          <h2>Control</h2>
          <div ng-repeat="f in files2" class="file-container">
            <a ng-href="{{f.path}}" target="_blank" class="file-link" title="{{f.name}}">
              <i class="fa fa-file-pdf-o">{{' '}}{{f.name}}</i>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-xs-12">
          <h2>Encuesta satisfaccion</h2>
          <div ng-repeat="f in files3" class="file-container">
            <a ng-href="{{f.path}}" target="_blank" class="file-link" title="{{f.name}}">
              <i class="fa fa-file-pdf-o">{{' '}}{{f.name}}</i>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-xs-12">
          <h2>Imagenes</h2>
          <div ng-repeat="f in files4" class="file-container">
            <a ng-href="{{f.path}}" target="_blank" class="file-link" title="{{f.name}}">
              <i class="fa fa-file-image-o">{{' '}}{{f.name}}</i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </br></br>
   <div class="modal-footer">
    <button type="button" class="btn btn-link" ng-click="cancel()">Cancelar</button>
  </div>
</div>
