<div id="patient-new" ng-init="init()">
  <div class="modal-header">
    <h3 class="modal-title">{{ title }} Paciente</h3>
  </div>

  <form role="form" name="newPatientForm" ng-submit="saveForm()">
    <div class="modal-body clearfix">
      <div class="form-group">
        <div class="col-md-12">
          <label for="number">Nro. de Afiliado</label>
          <input type="text" class="form-control" placeholder="Nro. de Afiliado..." ng-model="patient.number" ng-disabled="sending" required ng-readonly="show">
        </div>
        <div class="col-md-12">
          <label for="dni">DNI</label>
          <input type="text" class="form-control" placeholder="DNI..." ng-model="patient.dni" ng-disabled="sending" required ng-readonly="show">
        </div>
        <div class="col-md-12">
          <label for="name">Apellido y Nombre</label>
          <input type="text" class="form-control" placeholder="Apellido y Nombre..." ng-model="patient.name" ng-disabled="sending" required ng-readonly="show">
        </div>
        <div class="col-md-12">
          <label for="birthday">Fecha de Nacimiento</label>
          <input type="date" class="form-control" placeholder="Fecha de Nacimiento..." ng-model="patient.birthday" ng-disabled="sending" required ng-readonly="show">
        </div>
        <div class="col-md-12">
          <label for="address">Direccion</label>
          <input type="text" class="form-control" placeholder="Direccion..." ng-model="patient.address" ng-disabled="sending" required ng-readonly="show">
        </div>
        <div class="col-md-12">
          <label for="phone">Telefono</label>
          <input type="text" class="form-control" placeholder="Telefono..." ng-model="patient.phone" ng-disabled="sending" required ng-readonly="show">
        </div>
        <div class="col-md-12">
          <label for="in_charge">Contacto o Responsable:</label>
        </div>
        <div class="col-md-12">
          <label for="in_charge_dni">DNI</label>
          <input type="text" class="form-control" placeholder="DNI..." ng-model="patient.in_charge_dni" ng-disabled="sending" required ng-readonly="show">
        </div>
        <div class="col-md-12">
          <label for="in_charge_name">Apellido y Nombre</label>
          <input type="text" class="form-control" placeholder="Apellido y Nombre..." ng-model="patient.in_charge_name" ng-disabled="sending" required ng-readonly="show">
        </div>
        <div class="col-md-12">
          <label for="in_charge_relationship">Parentesco</label>
          <input type="text" class="form-control" placeholder="Parentesco..." ng-model="patient.in_charge_relationship" ng-disabled="sending" required ng-readonly="show">
        </div>
        <div class="col-md-12">
          <label for="in_charge_phone">Telefono</label>
          <input type="text" class="form-control" placeholder="Telefono..." ng-model="patient.in_charge_phone" ng-disabled="sending" required ng-readonly="show">
        </div>
        <div class="col-md-12">
          <label for="first_diagnosis">Diagnostico 1</label>
          <input type="textarea" class="form-control" placeholder="Diagnostico 1..." ng-model="patient.first_diagnosis" ng-disabled="sending" required ng-readonly="show">
        </div>
        <div class="col-md-12">
          <label for="second_diagnosis">Diagnostico 2</label>
          <input type="textarea" class="form-control" placeholder="Diagnostico 1..." ng-model="patient.second_diagnosis" ng-disabled="sending" ng-readonly="show">
        </div>
        <div class="col-md-12">
          <label for="second_diagnosis">Medico de Cabecera</label>
          <input type="text" class="form-control" placeholder="Medico de Cabecera..." ng-model="patient.primary_doctor" ng-disabled="sending" required ng-readonly="show">
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-link" ng-click="cancel()">Cancelar</button>
      <button type="submit" class="btn btn-success" ng-hide="show" ng-disabled="newPatientForm.$invalid || sending">{{ action == 'create' ? 'Crear' : 'Actualizar' }}</button>
    </div>
  </form>
</div>
