<div id="provider-new">
  <div class="modal-header">
    <h3 class="modal-title">Nuevo Prestador</h3>
  </div>

  <form role="form" name="newProviderForm" ng-submit="addProvider()">
    <div class="modal-body clearfix">
      <div class="form-group">
        <div class="col-md-12">
          <label for="name">Prestador</label>
          <input type="text" class="form-control" placeholder="Prestador" ng-model="name" pattern="^\w+" ng-disabled="sending" required>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-link" ng-click="cancel()">Cancel</button>
      <button type="submit" class="btn btn-success" ng-disabled="newProviderForm.$invalid || sending">Create</button>
    </div>
  </form>
</div>
