<div class="page-title">
  <div class="title_left">
    <h3>Prestadores</h3>
  </div>

  <div class="title_right">
    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
      <div class="input-group">
        <input type="text" class="form-control">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Buscar</button>
        </span>
      </div>
    </div>
  </div>
</div>
<div id="providers" ng-init="init()">
  <div class="x_panel">
    <button class="btn btn-primary pull-right">
      Nuevo
      <i class="fa fa-user-md"></i>
    </button>
    <div class="x_content">
      <div class="table-responsive">
        <table class="table table-striped jambo_table bulk_action">
          <thead>
            <tr class="headings">
              <th class="column-title">#</th>
              <th class="column-title">Prestador</th>
              <th class="column-title">Direccion</th>
              <th class="column-title">Telefono</th>
              <th class="column-title">Responsable</th>
              <th class="column-title">Mail</th>
              <th class="column-title">Calificacion</th>
              <th class="column-title no-link last">
                <span class="nobr">Opciones</span>
              </th>
          </thead>

          <tbody>
            <tr ng-class-odd="'pointer odd'" ng-class-even="'pointer even'">
              <td class=" ">1</td>
              <td class=" ">121000040</td>
              <td class=" ">May 23, 2014 11:47:56 PM </td>
              <td class=" ">121000210 <i class="success fa fa-long-arrow-up"></i></td>
              <td class=" ">John Blank L</td>
              <td class=" ">Paid</td>
              <td class="a-right a-right ">$7.45</td>
              <td class=" last"><a href="#">View</a>
              </td>
            </tr>
            <tr ng-class-odd="'pointer odd'" ng-class-even="'pointer even'">
              <td class=" ">1</td>
              <td class=" ">121000040</td>
              <td class=" ">May 23, 2014 11:47:56 PM </td>
              <td class=" ">121000210 <i class="success fa fa-long-arrow-up"></i></td>
              <td class=" ">John Blank L</td>
              <td class=" ">Paid</td>
              <td class="a-right a-right ">$7.45</td>
              <td class=" last"><a href="#">View</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>