<div class="page-title">
  <div class="title_left">
    <h3>Internaciones</h3>
  </div>

  <div class="title_right">
    <form ng-submit="searchService()">
      <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
        <div class="input-group">
          <input type="text" class="form-control" ng-model="term">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Buscar</button>
          </span>
        </div>
      </div>
    </form>
  </div>
</div>
<div id="patients" ng-init="init()">
  <div class="x_panel">
    <button class="btn btn-primary pull-right" ng-click="serviceModal()">
      Nuevo
      <i class="fa fa-user-md"></i>
    </button>
    <div class="x_content">
      <div class="table-responsive">
        <table class="table table-striped jambo_table bulk_action">
          <thead>
            <tr class="headings">
              <th class="column-title">Afiliado Nro.</th>
              <th class="column-title">DNI</th>
              <th class="column-title">Apellido y Nombre</th>
              <th class="column-title">Domicilio</th>
              <th class="column-title">Diagnostico</th>
              <th class="column-title no-link last">
                <span class="nobr">Opciones</span>
              </th>
          </thead>
          <tbody>
            <tr ng-repeat="patient in patients track by $id(patient)" ng-class-odd="'pointer odd'" ng-class-even="'pointer even'">
              <td class=" ">{{patient.number}}</td>
              <td class=" ">{{patient.dni}}</td>
              <td class=" ">{{patient.name}}</td>
              <td class=" ">{{patient.address}}</td>
              <td class=" ">{{patient.first_diagnosis}}</td>
              <td class=" ">{{patient.second_diagnosis}}</td>
              <td class="">
                <div class="btn-group">
                  <a class="btn btn-info" ng-click="patientModal(patient, true)"> Ver</a>
                  <a class="btn btn-primary" ng-click="patientModal(patient, false)">Editar</a>
                  <a class="btn btn-danger" ng-click="deletePatient(patient)">Eliminar</a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="dataTables_paginate" ng-if="totalPages > 1">
        <ul uib-pagination total-items="pagination.totalItems" ng-model="pagination.currentPage" max-size="pagination.maxSize" class="pagination-sm" boundary-links="true" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
      </div>
    </div>
  </div>
</div>
