<div class="row">
  <div class="x_panel">
    <div class="x_title"><h2>Mi perfil</h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">

      <form id="edit_profile" class="form-horizontal form-label-left input_mask" ng-submit="editProfile()">
        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
          <input type="text" class="form-control has-feedback-left" id="first_name" placeholder="First Name"
                  ng-model="edit_profile.first_name">
          <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
          <input type="text" class="form-control" id="last_name" placeholder="Last Name"
                 ng-model="edit_profile.last_name">
          <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 validator-error pull-left" ng-show="form_errors.first_name">* {{validatorLabel(form_errors.first_name[0])}}</div>
        <div class="col-md-6 col-sm-6 col-xs-12 validator-error pull-right" ng-show="form_errors.last_name">* {{validatorLabel(form_errors.last_name[0])}}</div>
        <div class="clearfix"></div>

        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
          <input type="text" class="form-control has-feedback-left" id="email" placeholder="Email"
                 ng-model="edit_profile.email">
          <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-6 col-sm-6 col-xs-12 validator-error pull-left" ng-show="form_errors.email">* {{validatorLabel(form_errors.email[0])}}</div>
        <div class="clearfix"></div>

        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
          Password:
          <input name="password" type="password" class="form-control" ng-model="edit_profile.password">
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
          Confirmar password:
          <input name="password_confirmation" type="password" class="form-control" ng-model="edit_profile.password_confirmation">
        </div>
        <div class="clearfix"></div>
        <div class="col-md-6 col-sm-6 col-xs-12 validator-error pull-left" ng-show="form_errors.password">* {{validatorLabel(form_errors.password[0])}}</div>

        <div class="form-group">
          <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-5 col-sm-offset-5">
            <button type="button" class="btn btn-primary" ng-click="cancelEdit()">Cancelar</button>
            <button type="submit" class="btn btn-success">Guardar</button>
          </div>
        </div>
      </form>
      <div class="ln_solid"></div>
    </div>

  </div>
</div>
